body *{font-size:13px!important;}


/* Button */
.customBtn {
    color: white!important;
    background-color: #123f8a!important;
    font-weight: bold;
    width: 100px;
}
.customBtn:hover {
    background-color: #fff!important;
    color: #123f8a!important;
    border: 1px solid #123f8a;
    font-weight: bold;
}

/* table */
.table {
	margin-bottom: .5rem !important;
}
.table td {
	vertical-align:middle;
}

/* TOAST Grid */
.tui-grid-layer-state {/* outline border */
    border-left: 1px solid rgb(205,205,205)!important;
}
.tui-grid-cell.cell-selection {/* selected row */
    background-color: rgb(205,205,205)!important;
    font-weight:bold;
}
.tui-grid-scrollbar-left-bottom {
    border-width: 0 0;
    border-left-width: 1px;
}
.tui-grid-cell-has-input .tui-grid-cell-content {
	padding-top: 0px;
	padding-bottom: 0px;
}
.tui-grid-btn-filter {/* filter button */
	display: none;
}

/* navs */
.navBtn {
	background-color: #123f8a;
	color:white;
	font-weight:bold;
	width: 80px;
}
.navBtn:hover {
	background-color: #3f7ee6;
	color:white;
	font-weight:bold;
}
.nav-tabs .active{
    background-color: #123f8a !important;
    color: rgb(255, 255, 255)!important;
    font-size: 13px!important;
    font-weight: bold;
}
.nav-tabs .nav-link:not(.active) {
    background-color: #ececec!important;
    color: rgb(163, 163, 163)!important;
    font-size: 13px!important;
    font-weight: bold;
}
.nav-tabs .nav-link {
	text-align:center;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    padding: 3px 13px !important;
}
.nav-tabs .nav-link:not(.active):hover {
    background-color: #123f8a !important;
    color: rgb(255, 255, 255)!important;
    font-size: 13px!important;
    font-weight: bold;
}
.table th {
	text-align: left;
	vertical-align: middle;
	background: #f1f5ff;
	color: #333333;
	font-weigth: 200;
}
.subjectArrow {
	color: #d20000;
}

.nav-tabs {
    border-bottom: 0px;
}

.customBody {
	max-width:100%;
}
.dateInput {
	width: 46%;
	display: inline;
}
.detailTable {
	margin-bottom:0;
}

/* .tui-grid-pagination {
	margin-top: 5px !important;
} */

.topbarNav {
	color: white !important; font-weight:bold !important;
}
.form-control-sm {
	height: 1.3rem !important;
	padding: .25rem .1rem;
}

.mainDivision {
	
}

.mainDivision:after {
	content: "";
	display: block;
	clear: both;
}

select {
	padding: 0px !important;
}

.dblineth {
    padding: 0 5px !important;
    font-size: 10px !important;
}

.sticky-bot {
  position: fixed;
  bottom: 3.5rem;
  align-self: flex-end;
  z-index: 1020;
  right: 50px;
}

.tdCheck {
    vertical-align: bottom !important;
    text-align: center;
}

.thCheck {
	text-align:left !important;
	padding-left:25px !important;
}

.baseLineMid {
	vertical-align: -webkit-baseline-middle;
	margin-top: 3px;
}

.ccemBtn {
	background: #7fb6df;
}

.table-xs td{
	padding: .1rem;
}
.table-xs th{
	padding: .1rem;
}

.counselMainBtn {
	background-color: #73b753;
	color:white;
	font-weight:bold;
}
.counselMainBtn:hover {
	background-color: #72da40;
	color:white;
	font-weight:bold;
}

.customerBtn {
	background-color: #123f8a;
	color:white;
	font-weight:bold;
	width: 3.95rem;
}
.customerBtn:hover {
	background-color: #3f7ee6;
	color:white;
	font-weight:bold;
}
.customerBtn:disabled {
	background: gray;
}
.customerBtn:disabled:hover {
	background: gray;
}

.rightSideScroll {
	 overflow:scroll; 
	 height:640px; 
	 overflow-x:hidden; 
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.specialCharacter {
	width:2.26rem;
}
.noneRadius > button{
	border-radius: 0px !important;
}
.firstRadius > button{
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.lastRadius > button{
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

ul.fancytree-container {
    height: 360px;
    overflow: auto;
    position: relative;
    }

.topUp:hover {
	color:#343a406b;
	background:00000000;
	border:none;
}

/* <!-- modal contents --> */
#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

#modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: 240px;
    left: 50%;
    margin: -120px 0 0 -160px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 320px;
    z-index: 1000;
}

#modal-background.active, #modal-content.active {
    display: block;
}

.birthLunar:hover {
	cursor:pointer;
}

.form-control[readonly]{
	background-color:white;
	opacity:1;
}

<!-- multiselect -->
.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.popBtn {
    line-height: 0.5;
    padding: 0;
    margin: 0;
}​