/* body */
body {
    min-width: 400px;
}

/* Tab */
.tab_width {
    width:85px;
}
.tab_Content {
    border:2px solid #123f8a;
    padding:0px;
    background-color: #eeeeee;
}
.tab_Content > table {
    margin-top:2px;
}


/* Table */
.top_Table_Title {
    background-color: #97c2fd8f; 
    width:15%; 
    font-weight:bold; 
    text-align:center;
}
.top_Table_Input {
    padding: 0px 5px;
    height: 21px;
    margin-top: 0px;
    border:none;
}
.table_Title {
    font-weight:bold; 
    text-align:center;
}
.table_button{
    background-color: #123f8a; 
    color: white; 
    font-weight: bold;
    padding: 0px 9px 1px; 
    margin-right:5px;
    height: 21px;
}
.table_button:hover {
	background-color: #3f7ee6;
	color:white;
	font-weight:bold;
}