a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: blue; text-decoration: none;}

/* 버튼 */
.navBtn {
	background-color: #123f8a;
	color:white;
	font-weight:bold;
	width: 80px;
}
.navBtn:hover {
	background-color: #3f7ee6;
	color:white;
	font-weight:bold;
}

/* zendesk 사용자 확인 라인 */
.col_zen {background-color : #e4f5e6;}